-# in app/views/search/index.html.haml

%h1 Display search results with optional category filtering

- if @results.any?
  %ul
    - @results.each do |item|
      %li
        = link_to item.title, item_path(item)
        %p
          - item.categories.each do |category|
            = category.name
            - unless category == item.categories.last
              = ', '
- else
  %p No items found
