.checkout-container {
  max-width: 65vw;
  margin: 3vh auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.checkout-container h1 {
  color: black;
  text-align: left;
}

.checkout-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.item-details {
  margin-bottom: 15px;
}

.item-details h2 {
  color: black;
  font-size: 24px;
}

.item-details .seller,
.item-details .item-price {
  color: black;
  font-size: 16px;
  margin: 5px 0;
}

.item-details .item-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.address-selection,
.payment-selection {
  margin-bottom: 20px;
}

.checkout-edit-profile-button,
.back-button,
.confirm-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  padding: 10px 20px;
  width: 150px; /* Fixed width for all buttons */
}

.confirm-button {
  background-color: #28a745;
  width: auto; /* Auto width for buy button */
  padding: 10px 40px; /* Larger padding for wider button */
}

.back-button {
  background-color: #6c757d;
}

.back-button:hover,
.checkout-edit-profile-button:hover,
.confirm-button:hover {
  opacity: 0.9;
}

#address-select,
#payment-method-select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 5vh;
}
