/* Base Styles */
@font-face {
  font-family: 'OpenSans';
  src: asset-url('OpenSans.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: black;
  font-family: 'OpenSans', sans-serif;
  font-size: 1em;
}

/* Main Container */
div#main {
  margin: 0;
  padding: 0 20px 20px;
}

/* Links */
a {
  background: transparent;
  font-weight: bold;
  text-decoration: none;
}

/* Headers */
h1 {
  color: Black;
  font-size: 1.5em;
  display: block;
  width: 100%;
  border-bottom: 1px solid Black;
}

/* Title Header */
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}

/* Notices and Warnings */
div#notice, div#warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

/* Form Labels */
form label {
  display: block;
  line-height: 1.6em;
  font-weight: bold;
  color: Black;
}

