/* app/assets/stylesheets/home.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-header {
  background-color: white;
  color: Black;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.home-header2 {
  background-color: white;
  color: Black;
  text-align: left;
  align-content: flex-end;
  font-weight: bold;
  font-size: 20px;
}

.home-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  width: 100%;
}

/* List of categories */
.category-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Individual category button */
.category-button {
  padding: 10px 20px;
  margin: 0 10px; /* Adjust space between buttons */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: center;
  display: inline-block;
}

/* Hover effect for category buttons */
.category-button:hover {
  background-color: #0056b3;
}

/* Container for items */
.items-container {
  display: flex;
  flex: 1 1 auto;
  overflow-x: auto; /* Allows horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  margin: 20px 0;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.suggest_items_container{
  display: flex;
  flex: 0 0 auto;
  overflow-x: auto; /* Allows horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  margin: 20px 0;
  width: 100%;
  justify-content: center;
}

/* Style for individual items */
.item {
  flex: 1 1 auto; /* Prevents the item from growing or shrinking */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin: 0 10px; /* Space between items */
  text-align: center;
  font-size: 1em; /* Adjust font size to your preference */
  background: white; /* Optional: set a background color for items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow to items */
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px 0;
  margin-top: auto; /* Pushes the footer to the bottom */
  width: 100%;
  background-color: #f8f9fa; /* Light grey background */
  border-top: 1px solid #eaeaea; /* Top border line */
}

footer p {
  margin: 0;
  color: #666;
}

.flash {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center; /* Centers text horizontally */
}

.flash.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.flash.alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}


