/* app/assets/stylesheets/home.css */

/* Header Styles */
.home-header {
  background-color: white;
  color: Black;
  padding: 10px;
  text-align: center;
  font-size: 2.5em; /* Adjusted from 40px */
  font-weight: bold;
}

.home-subheader {
  background-color: white;
  color: Black;
  text-align: left;
  font-weight: bold;
  font-size: 1.25em; /* Adjusted from 20px */
}

/* Main Content Container */
.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  width: 100%;
}

/* Items Container */
.home-items-container, .home-suggested-items-container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  box-sizing: border-box;
  margin: 20px auto;
  width: calc(100% - 40px) !important;
  justify-content: flex-start;
}

.home-categories-container {
  display: flex;
  overflow-x: auto;
  width: 95vw;
  justify-content: flex-start;
}

.category-item{
  border-radius: 4px;
  padding: 10px;
  margin: 0 5px;
  text-align: center;
  font-size: 1em;
  color: black;
  flex: 0 0 10vw;
  box-sizing: border-box;
  text-decoration: none;
}
.category-item:hover {
  filter: brightness(65%);
  text-decoration: none;
}
.category-item img{
  object-fit: contain;
  width: 100px;
}
/* Individual Items */
.home-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  font-size: 1em;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  flex: 0 0 300px;
  max-width: 300px;
  box-sizing: border-box;

}

/* Footer Styles */
.home-footer {
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #eaeaea;
}

.home-footer-text {
  margin: 0;
  color: #666;
}

.home-item-image {
  width: auto;
  max-height: 35vh;
  border-radius: 50%;
  margin-top: .5vh;
}

.flash {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center; /* Centers text horizontally */
}

.flash.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.flash.alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}




