/* Base Style for Form Fields */
.form-container {
  max-width: 65vw;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 2.5vh auto
}


/* Base Style for Form Fields */
.form-field {
  margin-bottom: 25px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field textarea,
.form-field select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #fafafa;
  color: black;
}

.form-field input[type="text"]:focus,
.form-field input[type="number"]:focus,
.form-field textarea:focus,
.form-field select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-field textarea {
  height: 100px;
  resize: vertical;
}

/* Style for File Upload Drop Zone */
.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: #fafafa;
}

.drop-zone:hover {
  background-color: #f0f0f0;
}

/* Style for File Names List */
.file-names {
  margin-bottom: 15px;
  background-color: #fafafa;
  padding: 8px;
  border-radius: 4px;
}

/* Style for Submit Button */
.form-submit-button {
  background-color: #ff5555;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-submit-button:hover {
  filter: brightness(65%);
}


/* Add this in your CSS file */
select {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

select:focus {
  border-color: #66afe9;
  outline: none;
}

option {
  padding: 5px 10px;
}
/* Style for Upload Button */
#upload-btn {
  background-color: #ff5555;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

#upload-btn:hover {
  filter: brightness(65%);
}

/* Style for Remove Image Buttons */
.file-names ul {
  list-style: none;
  padding: 0;
}

.file-names li {
  margin-bottom: 5px;
}

.file-names button {
  background-color: #ff5555;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.file-names button:hover {
  filter: brightness(65%);
}



