/* app/assets/stylesheets/global-navbar.css */

.global-navbar {
  background-color: dodgerblue;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  padding: 1vh 0;
}

.global-container {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 100%;
  padding: 0 1vw;
  height: 12vh;
}

.global-navbar-brand {
  display: flex;
  align-items: center;
  padding-right: 2vw;
  margin-left: 2vw;
}

.global-navbar-logo {
  height: 15vh;
  width: auto;
  margin-right: 0.25vw;
}

.global-search-bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
}

.global-search-input {
  padding: 1vh;
  margin-right: 1vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30vw;
}

.global-search-button {
  padding: 1vh 2vw;
  background-color: #ff5555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.global-search-button:hover {
  filter: brightness(65%);
}

.global-nav-link {
  color: white;
  padding: 1vh 1.25vw;
  text-decoration: none;
  display: inline-block;
  font-size: 1.35rem;
  transition: background-color 0.3s ease;

}

.global-nav-link:hover {
  filter: brightness(65%);
}

.global-category-bar {
  background-color: #f8f9fa; /* Light background color */
  border-top: 1px solid #eaeaea; /* Border at the top for separation */
  border-bottom: 1px solid #eaeaea; /* Border at the bottom */
}

.global-category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  padding: 1vh 0;
  max-width: 100%;
  margin: auto;
}

.global-category-button {
  background-color: transparent;
  padding: 0.5vh 1vw;
  border: none;
  cursor: pointer;
  text-decoration: none; !important;
  font-size: 1rem;
  transition: color 0.3s ease;

}

.text-logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
