/* app/assets/stylesheets/global-navbar.css */

.global-navbar {
  background-color: #333;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  padding: 1vh 0;
}

.global-container {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 100%;
  padding: 0 1vw;
  height: 12vh;
}

.global-navbar-brand {
  display: flex;
  align-items: center;
  padding-right: 2vw;
  margin-left: 2vw;
}

.global-navbar-logo {
  height: 15vh;
  width: auto;
  margin-right: 0.25vw;
}

.global-search-bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
}

.global-search-input {
  padding: 1vh;
  margin-right: 1vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30vw;
}

.global-search-button {
  padding: 1vh 2vw;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.global-search-button:hover {
  background-color: #4cae4c;
}

.global-nav-link,
.global-logout-button {
  color: white;
  padding: 1vh 1vw;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.global-nav-link:hover,
.global-logout-button:hover {
  background-color: #ddd;
  color: black;
}

.global-logout-button {
  background-color: #d9534f;
  margin-left: 1vw;
}

.global-logout-button:hover {
  background-color: #c9302c;
}

.global-category-bar {
  background-color: #f8f9fa; /* Light background color */
  border-top: 1px solid #eaeaea; /* Border at the top for separation */
  border-bottom: 1px solid #eaeaea; /* Border at the bottom */
}

.global-category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  padding: 1vh 0;
  max-width: 100%;
  margin: auto;
}

.global-category-button {
  background-color: transparent; /* Transparent background for a more link-like appearance */
  padding: 0.5vh 1vw;
  border: none;
  cursor: pointer;
  text-decoration: none; !important; /* No underline for a cleaner look */
  font-size: 1rem;
  transition: color 0.3s ease;

}

.text-logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
