/* General Style */
.user-profile-container {
  max-width: 65vw;
  margin: 2vh auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.user-account-details {
  text-align: center;
  margin-bottom: 30px;
}

.user-account-title {
  font-size: 3em;
  color: black;
  margin-top: 10px;
}

.user-username, .user-email {
  font-size: 1.25em;
  color: black;
  text-align: left;
}

.user-addresses-title, .user-payment-methods-title {
  font-weight: bold;
  margin-top: 5vh;
  color: black;
  font-size: 1.5em;
}

.user-addresses-table, .user-payment-methods-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5vh;
}

.user-addresses-table th, .user-payment-methods-table th {
  text-align: left;
  background-color: dodgerblue;
  color: white;
  padding: 1vh;
}

.user-addresses-table td, .user-payment-methods-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.user-navigation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.user-button, .user-button-bookmarks {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  vertical-align: middle;
  margin: 0;
}

.user-button:hover, .user-button-bookmarks:hover {
  background-color: #0056b3;
}




.review-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.review-title {
  font-size: 18px;
  color: #333;
}

.review-rating, .review-content, .review-date {
  font-size: 1em;
  color: black;
}

.rating-stars {
  color: #ffd700;
}

.delete-review-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-review-button:hover {
  background-color: #cc0000;
}
